---
// src/pages/index.astro
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home" description="Baker Built Construction">
  <main>
    <h1>Welcome to Baker Built Construction</h1>
  </main>
</BaseLayout>
